/* OpenEd Styles */
/* by White Whale Web Services */

/* Reset browser defaults  */
html { font-size:100%; }
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,pre,img,form,fieldset,legend,label,iframe { margin:0; padding:0; font-size:1em; line-height:inherit; font-weight:inherit; border:none; }
input,select,textarea,button { font-size:1em; line-height:inherit; font-family:inherit; color:#222; margin:0; }
input[type=button],input[type=submit],button { overflow:visible; }
input[disabled],select[disabled],textarea[disabled],button[disabled] { opacity:0.75; }
ul { list-style-type:none; }
.skiplink { position:absolute; top:0; left:-9999px; width:9em; padding:5px; color:#00f; background-color:#ff9; border:1px solid #993; text-align:center; z-index:9999; }
.skiplink:focus { left:0; }

/* Page structure */
body { background-color:#fff; color:#333; font-family:"Helvetica Neue",Helvetica,sans-serif; font-size:0.875em; line-height:1.3; }
#container { width:968px; margin:0 auto; }
#frame { position:relative; border:1px solid #ccc; margin:0 0 0.3em 0; background:url(../images/common/bg_cclearn_mark.gif) no-repeat 480px -20px; }

#searchbox { position:absolute; top:0; right:0; padding:5px 5px 10px 10px; }
	#searchbox_title { font-weight:bold; display:block; margin-bottom:0.2em; }
	#searchInput { border:1px solid #333; height:1.4em; width:12em; padding:0.1em 0.2em; }
	.searchButton { color:#CE0D0D; font-weight:bold; border:0; padding:0; background-color:transparent; margin-left:0.3em; width:2em; }
	#searchbox_sources { margin:0.5em 0.5em 0; display:none; }
	#searchbox_sources li { margin:0.2em 0 0; }
		#searchbox_sources li label { padding-left:0.3em; }
#searchbox.open { background:#bbb url(../images/common/bg_searchbox.gif); -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.6); -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.6); }
	#searchbox.open #searchbox_title,#searchbox.open #searchbox_submit { visibility:visible; }
	#searchbox.open #searchbox_sources { display:block; }
	
			
.portlet ul  { margin:15px 0 20px; }
	.portlet li { margin-bottom:0.8em; font-size:1.2em; letter-spacing:0.05em; }
		.portlet a { text-decoration:none; color:#333; }
		.portlet a:hover { color:#666; }

#copyleft { margin-top:30px; }
	#cclearn { display:block; float:left; width:92px; padding:4px 0; }
	#license { font-size:0.9em; color:#666; }
		#license img { float:right; }
		#license p { clear:both; padding-top:0.5em; margin-bottom:0; }

#sidebar { width:220px; padding:15px 5px 15px 15px; border-right:1px solid #ccc; float:left; }
	#sidebar .panel { margin:0 -15px; }
	
#content { float:left; width:663px; padding:72px 30px 30px 30px; margin-left:-1px; border-left:1px solid #ccc; }

#footer { font-size:0.9em; }
	#footer #home { float:left; }
		#footer #home span { font-style:italic; }
	#footer #contact { float:right;}
	#footer a { color:#333; text-decoration:none; }
	#footer a:hover { color:#CE0D0D;}

/* Feature panels */
.panel { width:220px; padding:0 10px; height:360px; overflow:hidden; background:#c6c6c6 url(../images/homepage/backgrounds/bg_gray_gradient.gif) repeat-x; }
.panel.alternate { background:#cabeae url(../images/homepage/backgrounds/bg_tan_gradient.gif) repeat-x; }
.panel.with_image { background-position:0 150px; }
	.panel h2 { font-size:0.9em; font-weight:bold; background-color:#6c6c6c; font-family:"Helvetica Neue", Helvetica, sans-serif; text-transform:uppercase; color:#fff; letter-spacing:0.06em; padding:2px 5px 3px 10px; margin:0 -10px 10px; }
	.panel.alternate h2 { background-color:#959595; }
 	.panel.with_image h2 { margin-bottom:0; }
	.panel h3 { font-size:2.4em; line-height:1.1em; font-family:Georgia,serif; letter-spacing:-0.03em; }
	.panel.with_image h3 { font-size:1.4em; line-height:1.3em; }
	.panel .more_link { font-weight:bold; }
	.panel p { margin-bottom:0.5em; }
	.panel ul li { margin-bottom:0.3em; list-style-type:disc; margin-left:1em; }
	.panel.with_image img { margin:0 -10px; }
/* Specific panel background colors */
	.panel h2.purple { background-color:#66669a; }
	.panel h2.green { background-color:#689600; }
	.panel h2.red { background-color:#83002c; }

/* Type */
h1.firstHeading {
	color:#000000;
	font-family:helvetica,arial;
	font-size:3.5em;
	font-weight:normal;
	margin-top:-2px;
}

.titleFirstWord {
    color: #CC0000;
}

h2,h3,h4,h5 { font-family:Georgia,serif; font-weight:normal; }
h3,h4,h5 { margin-bottom:14px; line-height:1.15em;}
h2 { font-size:3em; }
h2 .mw-headline {
	font-size:0.6em; 
	color: #c00;
}

h3 { font-size:2em; }
h3 .mw-headline {
	font-size: 0.75em;
	font-style: italic;
	line-height: 1.25em;
}

h4 { font-size:1.5em; }
h5 { font-size:1.2em; }
h6 { font-size:1em; }
p,li { margin-bottom:1em; }
a { color:#014785; text-decoration:none; }
a:hover { color:#37a; }
p#intro { font-family:Georgia,serif; font-size:1.6em; line-height:1.1em;color:#444; margin:0 40px 40px 60px;}
p#intro:first-line {color:#000;}

/* Column layouts */
.columns { margin:0 auto 20px; padding-top:10px; }
.column { float:left; overflow:hidden;}
.two.columns .first { width:300px; padding-right:15px; }
.two.columns .second { width:300px; padding-left:15px; }
.three.columns .first { width:200px; padding-right:15px; }
.three.columns .second { width:200px; padding:0 15px; }
.three.columns .third { width:200px; padding-left:15px; }
.second.column {margin-top:40px;}


/* Nav */
#toplinks { 
	overflow: auto; 
	padding: 5px;
	background-color: #e8e8e8;
	text-align: right;
}
#toplinks ul {
	font-size: 90%;
	padding-right: 5px;
}
/*
#toplinks ul, #toplinks div { float: left; }
*/
#toplinks div.toolbox { float: right; clear: both; padding-top: 3px;}
#toplinks div.pBody { display: inline; float: right;} 
#toplinks ul.views { float: right;}

#toplinks ul li {
	display: inline; 
	padding-right: 5px;
	margin-right: 3px;
	border-right: 1px solid #fff;
}

#toplinks a {
	color: #444;
}
#toplinks a:hover {
	color: #888;
}

